<html>
<!-- <meta http-equiv="Cache-control" content="no-cache"> -->
I am inside signup 

<!-- <% if(this.data){%>
<span><%= data.msg %></span>
<script type="text/javascript">
	
</script>
<%}%> -->
<form action="/signup" method="POST">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Submit</button>
 </form>
 <button  onclick="location.href='/login'">Log In</button>
</html>